h1 {
  color: green;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 90px;
  letter-spacing: 20px;
}

#add {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}

#entry {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

body {
  background-color: black;
}

li {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 45px;
  display: table;
}

span {
  display: table-cell;
}

button {
  color: white;
  text-align: right;
}

#left {
  text-align: left;
  width: 1000px;
}

#right {
  text-align: center;
}